body{
	background: #2b2b2b;
	font-family: "Antenna Black", sans-serif;
	font-weight: 400;

}
#logo{
	/*margin: 50 auto;*/
	/*position: relative;*/
	/*display: block;*/
}
.site-title{
	/*display: block;*/
	color: white;
	/*margin: 0 auto;*/
}
#signin{
	margin-top: 20px;
	border-radius: 0;
}
.menuBtn{
	border-radius: 0;
	background: red;
	text-shadow: none;
	border: none;
	margin-top: 20px;
	color: white;
	height: 60px;
	width: 200px;
}
.menuBtn:hover, .menuBtn:focus{
	background: red;
	outline: none;
}
.taskName{
	font-size: 60px;
	color: white;
	margin-top:20px;
}
.selectData{
	color:white;
	/*background: white;*/
}
.taskCtrl{
	margin-top: 40px;
}
nav.navbar.navbar-default{
	background: #2b2b2b;
	border: none;

}
.homeNav{
	/*background: red;*/
	color: white !important;
}
.taskH2{
	color: white;
	font-family: "Antenna Black", sans-serif;
}
.navbar-nav li{
	margin: 0 15px;
	width: 160px;
}
.taskSelect{
	height: 300px;
	width: 80%;
	background: white;
	margin-bottom: 10px;
}
.userTestingBox{
	height: 400px;
	width: 700px;
	background: white;
}
.createMenu{
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
}
.printer{
	width: 600px;
	height: 300px;
	background: white;
}
.repBody{
	width: 300px;
	height: 200px;
	background: black;
	border-top-left-radius:30px; 
	border-top-right-radius: 30px;
	margin: 40px 145px;
	position: absolute;
}
.repInner{
	background: #595959;
	height: 120px;
	width: 260px;
	position: absolute;
	margin: 60px 20px 0px;
}
.knobLed{
	height: 29px;
	width: 29px;
	background: white;
	border-radius: 20px;
	position: absolute;
	margin: 12px 0 0 218px;
	opacity: 0;
}
.knob{
	height: 25px;
	width: 25px;
	background: gray;
	border-radius: 20px;
	position: absolute;
	opacity: 100;
	margin: 14px 0 0 220px;
}
.screen{
	height: 30px;
	width: 50px;
	position: absolute;
	margin: 10px 0 0 160px;
	background: #B3D5E8;
	opacity: 0;
}
.mbLogo{
	height: 15px;
	/*width: 200px;*/
	color: white;
	position: absolute;
	bottom: 3px;
	right: 25px;
}
.zstage{
	height: 38px;
	width: 86px;
	background: black;
	margin-top: 50px;
	position: relative;
}
.redLogo{
	color: red;
	height: 23px;
	width: 23px;
	position: relative;
	border: 2px solid red;
	border-radius: 21px;
	margin: 0 auto -13px;
	padding: 0 4px;
	top: 8px;
}
.buildplate{
	height: 10px;
	width: 140px;
	background: black;
	margin-left: -25px;
	position: relative;
	top: 28px;
}
.carriage{
	height: 30px;
	width: 30px;
	background: black;
	border: 1px solid gray;
	border-top: 0;
	position: relative;
	margin:0 auto;
	z-index: 100;
}
.nozzle{
	position: relative;
	margin:0 auto;
	background: yellow;
	height: 5px;
	width: 5px;
	top: 30px
}
.bunny{
	height: 96px;
	width: 97px;
	position: absolute;
	bottom: 0;
}
.slice{
	display: block;
	visibility: hidden;
}
#addCat{
	color: blue;
}


