body{
	background: black;

}
#logo{
	/*margin: 50 auto;*/
	/*position: relative;*/
	/*display: block;*/
}
.site-title{
	/*display: block;*/
	color: white;
	/*margin: 0 auto;*/
}
#signin{
	margin-top: 20px;
	border-radius: 0;
}
.menuBtn{
	border-radius: 0;
	background: red;
	text-shadow: none;
	border: none;
	margin-top: 20px;
	color: white;
	height: 60px;
	width: 200px;
}
.menuBtn:hover, .menuBtn:focus{
	background: red;
	outline: none;
}
.taskName{
	font-size: 60px;
	color: white;
	margin-top:20px;
}
.selectData{
	color:white;
	/*background: white;*/
}
.taskCtrl{
	margin-top: 20px;
}